.card-container {
  margin: 0 auto;
  margin-top: 10%;
}

.mdl-card__title-text {
  color: #534fab;
}

.mdl-card__actions {
  display: flex;
  flex-direction:column;
  justify-content: center;
}

	
a{
	text-decoration:none;
	color:#3f51b5;
}